{% extends "index.html" %}
{% block content %}
  <div class="words">
    <p>About will go here.</p>
  </div>
  <section>
    <h4>A disclaimer</h4>
    <p>
        This website represents the public data offered by the City of Seattle.
        As a result, some data representing more personal infractions is unavailable
        for the purpose of protecting the privacy and safety of the persons involved.
    </p><p>
        In addition, some of the data offered by the City was not included. 
        This was done to furthure protect persons identities, as well as to 
        filter our own data to include only categories that we found useful
        to represent in this context.
    </p><p>
        This site is intended for entertainment purposes only, and the information
        provided is here purely to represent the public data available to us from 
        the City.
    </p><p>If you have any questions or concerns about our data set, feel free to 
        reach out to us.
    </p>
</section

{% endblock %}
