{% extends "index.html" %}
{% block content %}
<section class="words">
    <div>
        <h3>About Us</h3>
        <p>
            Seattle Crime Mapper was developed as a student project to visualize public crime data in the City of Seattle.
        <span id="colorful">We are all about maps and graphs!</span> The project originated in a CodeFellows 401 Python Course.
        Thanks to Cris, Ruth, and the rest of the teaching team.
        </p>
    </div>
    <div>
        <h4>The Authors</h4>
        <ul class="authors">
            <li><a href="https://github.com/nadiabahrami">Nadia Bahrami</a></li>
            <li><a href="https://github.com/scotist">Michael Sullivan</a></li>
            <li><a href="https://github.com/Mikekh84">Mike Harrison</li>
            <li><a href="https://github.com/SeleniumK">Selena Flannery</a></li>
            <li><a href="https://github.com/cacizi41">Wenjing Qiang</a></li>
        </ul>
    </div>
    <div>
        <h4>Disclaimer</h4>
        <p>
            This website represents public data offered by the City of Seattle.
            Some data representing more personal or private infractions is unavailable
            in order to protect the privacy and safety of the persons involved.
        </p><p>
            In addition, some of the data offered by the City is not included.
            This is to further protect persons' identities. We restrict
            the data we use to include only categories that we find helpful
            and interesting to represent in our visualizations.
        </p><p>
            This site is intended for entertainment purposes only, and the information
            provided is here solely to represent the public data available to us from the City. No other claims or opinions are implied or intended.
        </p><p>If you have any questions or concerns about our data set, feel free to reach out to us.
        </p>
    </div>
</section>

{% endblock %}
