{% extends "index.html" %}
{% block content %}
  <script   src="https://code.jquery.com/jquery-2.2.2.min.js"   integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="   crossorigin="anonymous"></script>
  <script src="static/chart.js"></script>
  <div class="words">
    <p>Graphs will go here.</p>
  </div>
  <div>
    <canvas id="mainChart" width="400" height="400"></canvas>
  </div>
   <script>
   var pieData = [
       {
          value: 25,
          label: 'Java',
          color: '#811BD6'
       },
       {
          value: 10,
          label: 'Scala',
          color: '#9CBABA'
       },
       {
          value: 30,
          label: 'PHP',
          color: '#D18177'
       },
       {
          value : 35,
          label: 'HTML',
          color: '#6AE128'
       }
    ];

    var ctx = $("#mainChart").get(0).getContext("2d");
    var skillsChart = new Chart(ctx).Pie(pieData);
    </script>
{% endblock content%}