{% extends "index.html" %}
{% block map %}
  <div class="words">
      <p>Scroll around the map below to see a selection of police incidents in Seattle</p>
  </div>
  <form>
    <label><input id="Homicide" type="checkbox" value="Homicide">Homicide</label>
    <label><input id="Assault" type="checkbox" value="Assault">Assault</label>
    <label><input id="Weapons" type="checkbox" value="Weapons">Weapons</label>
    <label><input id="Robbery" type="checkbox" value="Robbery">Robbery</label>
    <label><input id="Property" type="checkbox" value="Property">Property</label>
    <label><input id="Drugs" type="checkbox" value="Drugs">Drugs/Alcohol</label>
    <label><input id="Disturbances" type="checkbox" value="Disturbances">Disturbances</label>
    <label><input id="Theft" type="checkbox" value="Theft">Burglary/Theft</label>
    <label><input id="Sin" type="checkbox" value="Sin">Sin</label>
    <label><input id="Fraud" type="checkbox" value="Fraud">Fraud</label>
    <label><input id="Other" type="checkbox" value="Other">Other</label>
  </form>
  <div id='map'></div>
  <script>
      function initMap() {
      var map;
      map = new google.maps.Map(document.getElementById('map'), {
           center: {lat:47.6067006, lng:-122.3346896},
           zoom: 13
      });
      {% for place in places %}
          var marker = new google.maps.Marker({
            map: map,
            position: {{place[0]|safe}},
            title: '{{place[1]}}'
          });
      {% endfor %}
      marker.setMap(map);
      }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=initMap" async defer></script>
{% endblock map %}
