{% extends "index.html" %}
{% block map %}
  <div class="words">
      <p>Scroll around the map below to see a selection of police incidents in Seattle</p>
  </div>
  <form>
    <label><input id="All" type="checkbox" value="All" checked="checked">All</label>
    <label><input id="Homicide" type="checkbox" value="Homicide">Homicide</label>
    <label><input id="Assault" type="checkbox" value="Assault">Assault</label>
    <label><input id="Weapons" type="checkbox" value="Weapons">Weapons</label>
    <label><input id="Robbery" type="checkbox" value="Robbery">Robbery</label>
    <label><input id="Property" type="checkbox" value="Property">Property</label>
    <label><input id="Drugs" type="checkbox" value="Drugs">Drugs/Alcohol</label>
    <label><input id="Disturbances" type="checkbox" value="Disturbances">Disturbances</label>
    <label><input id="Theft" type="checkbox" value="Theft">Burglary/Theft</label>
    <label><input id="Sin" type="checkbox" value="Sin">Sin</label>
    <label><input id="Fraud" type="checkbox" value="Fraud">Fraud</label>
    <label><input id="Other" type="checkbox" value="Other">Other</label>
  </form>
  <div id='map'></div>
  <script   src="https://code.jquery.com/jquery-2.2.2.min.js"   integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="   crossorigin="anonymous"></script>
  <script>
    var markers = [];
    function initMap() {
      var map;
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat:47.6067006, lng:-122.3346896},
        zoom: 13
      });

      {% for place in places %}
        var marker = new google.maps.Marker({
          map: map,
          position: {{place[0]|safe}},
          title: '{{place[1]}}',
          visible: true
        });
        markers.push(marker);
      {% endfor %}
      marker.setMap(map);
    }
    console.log('hello');
    console.log(markers);

    var toggleVisibility = function(show, markers){
        for (var i = 0, length = markers.length; i < length; i++){
          markers[i].setVisible(show);
        };
    }

    function sortVisibility(show, list){
      for(var j = 0; j < list.length; j++){
        for (var i = 0, length = markers.length; i < length; i++){
          if (markers[i].title == list[j]) {
            markers[i].setVisible(show);
            console.log(markers[i])
          }
        };
      };
    }

    function allUncheck(){
      if ($('#All').attr('checked') == 'checked'){
        $('#All').attr('checked', false);
        clearMarkers();
      }
    }

    function clearMarkers() {
      for (var i = 0; i < markers.length; i++) {
        markers[i].setVisible(false);
      };
    }

    $('#All').on('change', function(){
      toggleVisibility(this.checked, markers)
    });

    $('#Fraud').on('change', function(){
      allUncheck();
      for (var i = 0, length = markers.length; i < length; i++){
        if (markers[i].title == "FRAUD") {
          markers[i].setVisible(this.checked);
          console.log(markers[i])
        }
      };
    });

    $('#Assault').on('change', function(){
      allUncheck();
      for (var i = 0, length = markers.length; i < length; i++){
        if (markers[i].title == "ASSAULT") {
          markers[i].setVisible(this.checked);
          console.log(markers[i])
        }
      };
    });

    $('#Robbery').on('change', function(){
      allUncheck();
      for (var i = 0, length = markers.length; i < length; i++){
        if (markers[i].title == "ROBBERY") {
          markers[i].setVisible(this.checked);
          console.log(markers[i])
        }
      };
    });

    $('#Homicide').on('change', function(){
      allUncheck();
      for (var i = 0, length = markers.length; i < length; i++){
        if (markers[i].title == "HOMICIDE") {
          markers[i].setVisible(this.checked);
          console.log(markers[i])
        }
      };
    });

    $('#Property').on('change', function(){
      allUncheck();
      prop = ["ILLEGAL DUMPING", "LOST PROPERTY", "OTHER PROPERTY",
        "PROPERTY DAMAGE", "RECKLESS BURNING", "RECOVERED PROPERTY",
        "STOLEN PROPERTY"];
      sortVisibility(this.checked, prop);
    });

    $('#Drugs').on('change', function(){
      allUncheck();
      drugs = ["DUI", "LIQOUR VIOLATIONS", "NARCOTICS"];
      for(var j = 0; j < drugs.length; j++){
        for (var i = 0, length = markers.length; i < length; i++){
          if (markers[i].title == drugs[j]) {
            markers[i].setVisible(this.checked);
            console.log(markers[i])
          }
        };
      };
    });

    $('#Disturbances').on('change', function(){
      allUncheck();
      for (var i = 0, length = markers.length; i < length; i++){
        if (markers[i].title == "DISTURBANCE") {
          markers[i].setVisible(this.checked);
          console.log(markers[i])
        }
      };
    });

  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=initMap" async defer></script>
{% endblock map %}
