import os

{% extends "index.html" %}
{% block navbar %}
{% endblock %}

{% block content %}



<div id="map"></div>
<script src="https://maps.googleapis.com/maps/api/js?key={% os.environ.get(GOOGLE_KEY) %}&callback=initMap"
async defer></script>


{% endblock %}