{% extends "index.html" %}
{% block navbar %}
{% endblock %}

{% block content %}
<div class="container">
  <h1>Reference Key</h1>
  <br>
  <p>Not every type of crime is equally relevant or interesting. In using our page you may wish to be aware of some crimes more than othes. Like most police departments, Seattle's refers to different types of crimes by three-digit codes. Here are some that you may want to be aware of:
  <br>
  <h2>Fire-related</h2>
    <ul>
      <li>090: Bombs, Explosion, Large Fireworks</li
      <li>091: Arson</li>
      <li>092L Reckless Burning</li>
    </ul>
  <h2>Violent Crimes</h2>
    <ul>
      <li>010: Homicide</li>
      <li>040: Assault</li>
      <li>043: Firearm Involved</li>
      <li>049: Gang Related</li>
      <li>110: Kidnapping</li>
      <li>020: Rape - Unknown Suspect (Stranger)</li>
      <li>021: Rape - Known Suspect (Acquaintance)
      <li>030: Armed Robbery</li>
      <li>031: Robbery - Strong Arm, Purse Snatch, etc</li>
    </ul>
  <h2>Automobiles</h2>
    <ul>
      <li>071: Auto Theft</li>
      <li>072: Auto Theft & Recovery</li>
    </ul>
  <h2>Theft and Burglary</h2>
    <ul>
      <li>050: Residential, Unoccupied</li>
      <li>051: Residential, Occupied</li>
      <li>052: Nonresidential/Commercial (Includes Schools, Churches, Public Bldgs.)</li>
      <li>053: Unoccupied Structure On Residential Property (Garage, Storage Area, Etc.)</li>
      <li>061-065: Thefts</li>
    </ul>
  <h2>Disturbance</h2>
    <ul>
      <li>130: Property Destruction</li>
      <li>242: Fight</li>
      <li>244: Noise</li>
      <li>249: Gang Related</li>
    </ul>
</div>
{% endblock %}