body{
    background:;
}

header{
    font-size: 5rem;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Open Sans Condensed', sans-serif;
}

nav{
    font-size: 1.8rem;
    margin-left:6%;
    margin-right:6%;
}

nav ul{
    list-style-type: none;
    display: inline-flex;
    width:90%;
    padding:0%
}

nav ul li {
    margin-right:7%;
}

.words{
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
    padding-bottom: 10%
}

p{
    font-family: 'Merriweather', serif;
}

#map {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom:2rem;
    height: 700px;
}

.check-box{
    background-color:;
    margin: 5px;
    padding: 5px;
}